<!DOCTYPE html>
<html lang="en" ng-app="healthLineApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="shortcut icon" href="images/favicon.png" type="image/png"-->

    <title>HealthLine</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div ng-view class="custom-container"></div>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
</body>
</html>
